.filters-bar label {
  display: block;
  color: var(--text-secondary);
  font-size: var(--font-sm);
  margin-bottom: var(--space-xxs);
}

.filters-header {
  display: flex;
  align-items: center;
  margin-left: var(--space-md);
}

.filters-header label {
  display: none;
}

.filters-bar .search-wrapper {
  flex: 1;
}

.filters-bar .input-search,
.filters-bar .input-search:focus {
  border-right: 1px solid var(--border-input);
}

/* Filter */

.toggle-filters-btn {
  padding: var(--space-md);
  background: transparent;
}

.toggle-filters-btn svg {
  color: var(--text-muted);
  width: 1.8rem;
  height: 1.8rem;
  transition: color 0.2s;
}

.toggle-filters-btn:active svg {
  color: var(--text-secondary);
}

/* Advanced filters */

.advanced-filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
  opacity: 0;
  max-height: 0;
  padding: 0 var(--space-md);
  border-top: 1px solid var(--border);
  transition:
    opacity 0.2s ease,
    max-height 0.2s ease,
    margin-top 0.2s ease,
    padding-top 0.2s ease,
    padding-bottom 0.2s ease;
  overflow: hidden;
}

.filters-bar.extended .advanced-filters {
  opacity: 1;
  max-height: 50rem;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-md);
}

.advanced-filters .select {
  padding: var(--space-sm);
}

@media (min-width: 60rem) {
  .filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--space-md);
    padding: var(--space-md);
  }

  .filters-bar label {
    text-align: center;
  }

  .filters-header {
    padding: 0;
    margin: 0;
    display: block;
  }

  .filters-header label {
    display: block;
  }

  .filters-bar .search-wrapper {
    padding: var(--space-xxs) var(--space-sm);
    border: 1px solid var(--border-input);
    border-radius: var(--radius-md);
  }

  .filters-bar .input-search {
    border: none !important;
  }

  .toggle-filters-btn {
    display: none;
  }

  .advanced-filters {
    flex: 1;
    display: flex;
    max-height: 20rem;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 1;
  }

  .filter-group {
    flex: 1;
  }
}
