.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-content {
  flex: 1;
}

.form-group-wrapper {
  display: flex;
  align-items: baseline;
  margin-top: var(--space-xs);
  gap: var(--space-sm);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-xs);
  gap: 0.6rem;
}

.form-group-wrapper .form-group {
  flex: 1;
  margin-top: 0;
}

.form-group:first-child {
  margin-top: 0;
}

.form-label {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--text-secondary);
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 1rem var(--space-sm);
  background: transparent;
}

.form-input:read-only {
  background: transparent;
}

.form-textarea {
  resize: none;
}

.form-error {
  font-size: var(--font-xs);
  color: var(--danger-dark);
  height: 1.8rem;
}
