.toast-container {
  position: fixed;
  left: 50%;
  bottom: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  transform: translateX(-50%);
  z-index: 1000;
}

.toast {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--text-primary);
  max-width: 60rem;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  background: linear-gradient(
    135deg,
    rgba(var(--gradient-start-rgb), 0.08),
    rgba(var(--gradient-end-rgb), 0.01)
  );
  backdrop-filter: blur(4rem);
  box-shadow:
    rgba(var(--black-rgb), 0.2) 0 0.1rem 0.4rem 0.1rem;
  animation: slide-up 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.toast::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, hsla(240, 30%, 12%, 0.2) 100%);
  z-index: -1;
}

.toast-success {
  border-left: 0.4rem solid rgb(var(--gradient-start-rgb));
}

.toast-error {
  border-left: 0.4rem solid var(--danger-dark);
}

.toast span {
  color: var(--text-secondary);
  white-space: nowrap;
}

.toast svg {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.toast-success svg {
  color: rgb(var(--gradient-start-rgb));
}

.toast-error svg {
  color: var(--danger-dark);
}

.toast-close {
  display: flex;
  background: transparent;
  border: none;
  margin-left: auto;
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
